/* Your code here */
 .card-1 img{
  width: 1in;
  height: 1in; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 10px;
  border-radius: 50%; 
 }
 .top-banner{
  text-align: center;
  text-transform: capitalize;
  font-family: 'Brush Script MT', cursive;
  font-size: 25pt;
  border-bottom: 2px solid #222;
  background-color: rgb(110, 107, 61);
  color: rgb(26, 36, 9);
 }
 .left{
 display: inline-block;
  width: 50%; 
  vertical-align: top; 
  box-sizing: border-box;
  font-size: 14px;
  padding-right: 10px; 
  
 }
 .right{
  display: inline-block;
  width: 40%; 
  vertical-align: top; 
  box-sizing: border-box;
  border-left: 4px solid;
  padding-left: 10px; 
  font-size: 13px;
  text-align: center; 
  padding-top: 10px;


 }
 .bottom{
  padding: 10px;
  margin-top: 10px;
 }
 .contact{
  margin-top: 1em;
  padding: 10px;
 }
 .name{
  font-weight:bold;
  font-size: 120%;
 }
 .tagline{
  font-style: italic;

 }
 .motto{
  font-style: italic;
margin-top: 10px;
  text-align: center;
  position: relative;
  left: 10px;
 }